@charset "UTF-8";
/* CSS Document */

.slider{
	width: 1000px;
	height: 450px;
	margin-top: 5px;	
	margin-right: 10px;
}

body{
	background: #B7B7B7;
}

.search{
	height: 45px;
}

.search{
	height: 30px;
}